@import "./originalTheme.css";

body{
    background-color: white;
    font-size: 14px;
    margin: 10px auto;
    max-width: 900px;
    padding: 0 1rem;
}

.centered-text {
    text-align: center;
}

.geshifilter {
    background-color: aliceblue;
    overflow-x: scroll;
}
.geshifilter>div{
    background-color: aliceblue;
    overflow-x: scroll;
}

.pagination a {
    margin: 6px;
}