<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="/app.css")
        script(src="/main.js")
    body
        a(href="/content/%D0%B0%D0%B3%D1%8320181%D0%BF%D0%BC1") Прямая ссылка ПМ1
        pre
            code
                |     package First;
                |     import java.util.Scanner;
                | public class Mclass {
                | }
            